body {
    background-color: rgb(36, 36, 36);
}

h1 {
    color: aliceblue;
    font-weight: 200;
    font-size: 60px;
    margin-top: 50px;
}

input {
    border-radius: 5px !important;
}
li{
    border-radius: 5px !important;
    margin-bottom: 3px;
}

.inputuno::placeholder {
    font-size: 20px;
}

.lista {
    border-radius: 0%;
}

.delete-icon {
    color: red;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    padding: 0 10px;
}

.task-item:hover .delete-icon {
    opacity: 1;
}

.delete-icon:hover {
    color: darkred;
    transform: scale(1.2);
}